Repository unusualpseudo/terraformars, changes with the labels that .github/labeler.yaml gives for each.
All labels: aws, cloudflare, github, ci

feat(github): use tfvars to define list of repo
  github/data.tf
  github/main.tf
  github/providers.tf
  github/tfvars.json
  github/variables.tf
Labels: github

feat(ci): init tf ci workflow
  .github/renovate/terraform-ci.yaml
Labels: ci

chore(move): data source to main tf file
  cloudflare/data.tf
  cloudflare/main.tf
Labels: cloudflare

feat(cf): migadu email stup
  cloudflare/cloudflare_secrets.sops.yaml
  cloudflare/data.tf
  cloudflare/firewall.tf
  cloudflare/main.tf
  cloudflare/outputs.tf
  cloudflare/records.tf
  cloudflare/tunnel.tf
  cloudflare/zone.tf
Labels: cloudflare

refactor(aws): change alret email
  aws/aws_secrets.sops.yaml
  aws/s3.tf
  aws/variables.tf
Labels: aws

ci(fetch): secrets from 1passwords
  .github/workflows/broken-links-check.yaml
  .taskfiles/TerraformTasks.yaml
  github/github_secrets.sops.yaml
  github/main.tf
  github/modules/repository/main.tf
  github/modules/repository/variables.tf
  github/providers.tf
Labels: github, ci

ci(progress): on tf ci
  .github/workflows/broken-links-check.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/terraform-ci.yaml
  .taskfiles/TerraformTasks.yaml
  terraform/aws/aws_secrets.sops.yaml
  terraform/aws/modules/budget/main.tf
  terraform/aws/modules/budget/variables.tf
  terraform/aws/modules/db/main.tf
  terraform/aws/modules/db/variables.tf
  terraform/aws/modules/iam/.gitkeep
  terraform/aws/providers.tf
  terraform/aws/s3.tf
  terraform/aws/variables.tf
  terraform/cloudflare/cloudflare.md
  terraform/cloudflare/cloudflare_secrets.sops.yaml
  terraform/cloudflare/data.tf
  terraform/cloudflare/firewall.tf
  terraform/cloudflare/outputs.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/records.tf
  terraform/cloudflare/tunnel.tf
  terraform/cloudflare/zone.tf
  terraform/github/github.md
  terraform/github/github_secrets.sops.yaml
  terraform/github/main.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/providers.tf
  terraform/github/tfvars.json
  terraform/github/variables.tf
Labels: ci

ci: progress on tf ci
  .github/workflows/broken-links-check.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/terraform-ci.yaml
  .taskfiles/TerraformTasks.yaml
  terraform/aws/aws_secrets.sops.yaml
  terraform/aws/modules/budget/main.tf
  terraform/aws/modules/budget/variables.tf
  terraform/aws/modules/db/main.tf
  terraform/aws/modules/db/variables.tf
  terraform/aws/modules/iam/.gitkeep
  terraform/aws/providers.tf
  terraform/aws/s3.tf
  terraform/aws/variables.tf
  terraform/cloudflare/cloudflare.md
  terraform/cloudflare/cloudflare_secrets.sops.yaml
  terraform/cloudflare/data.tf
  terraform/cloudflare/firewall.tf
  terraform/cloudflare/outputs.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/records.tf
  terraform/cloudflare/tunnel.tf
  terraform/cloudflare/zone.tf
  terraform/github/github.md
  terraform/github/github_secrets.sops.yaml
  terraform/github/main.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/providers.tf
  terraform/github/tfvars.json
  terraform/github/variables.tf
Labels: ci

feat(aws): use github actions oidc with aws
  .github/workflows/terraform-ci.yaml
  terraform/aws/budget.tf
  terraform/aws/dynamodb.tf
  terraform/aws/iam.tf
  terraform/aws/modules/budget/variables.tf
  terraform/aws/modules/db/variables.tf
  terraform/aws/modules/iam/.gitkeep
  terraform/aws/outputs.tf
  terraform/aws/providers.tf
  terraform/aws/s3.tf
Labels: ci

Update main.tf
  terraform/github/main.tf
Labels: none

feat(aws): use github actions oidc with aws
  .github/workflows/app-token.yaml
  .github/workflows/terraform-ci.yaml
  .gitignore
  .pre-commit-config.yaml
  .taskfiles/TerraformTasks.yaml
  terraform/aws/.terraform.lock.hcl
  terraform/aws/budget.tf
  terraform/aws/dynamodb.tf
  terraform/aws/iam.tf
  terraform/aws/modules/budget/variables.tf
  terraform/aws/modules/db/variables.tf
  terraform/aws/modules/iam/.gitkeep
  terraform/aws/outputs.tf
  terraform/aws/providers.tf
  terraform/aws/s3.tf
  terraform/cloudflare/.terraform.lock.hcl
  terraform/github/.terraform.lock.hcl
  terraform/github/modules/repository/.terraform.lock.hcl
Labels: ci

revert(secrets): remove call to 1password vault to get password due to rate limit!
  .github/workflows/app-token.yaml
  .github/workflows/terraform-ci.yaml
  terraform/github/github_secrets.sops.yaml
  terraform/github/main.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/variables.tf
Labels: ci

fix(ci): working dir in tf steps
  .github/workflows/terraform-ci.yaml
Labels: ci

ci: update tf workflow
  .github/workflows/terraform-ci.yaml
  README.md
Labels: ci

fix(github): stop using tfvars and put data in default
  .taskfiles/TerraformTasks.yaml
  terraform/github/tfvars.json
  terraform/github/variables.tf
Labels: none

fix(ci): sops age key as env
  .github/workflows/terraform-ci.yaml
Labels: ci

feat: add arn secrets, create policy for dynamodb access
  .github/workflows/terraform-ci.yaml
  terraform/aws/iam.tf
  terraform/aws/outputs.tf
  terraform/github/github_secrets.sops.yaml
  terraform/github/main.tf
  terraform/github/modules/repository/main.tf
  terraform/github/providers.tf
  terraform/github/secrets.sops.yaml
Labels: ci

ci: fix secret not avaialbe
  .github/workflows/app-token.yaml
  .github/workflows/terraform-ci.yaml
  terraform/github/modules/repository/main.tf
  terraform/github/secrets.sops.yaml
Labels: ci

fix(aws): add policy access to aws budget
  .github/workflows/terraform-ci.yaml
  terraform/aws/budget.tf
  terraform/aws/iam.tf
  terraform/aws/outputs.tf
  terraform/aws/variables.tf
Labels: ci

fix(aws): wrong resource in s3 policy
  terraform/aws/iam.tf
Labels: none

fix(aws): add describe table to dynamodb policy
  terraform/aws/iam.tf
  terraform/aws/outputs.tf
Labels: none

fix(aws): grant all access of terraform ressources to github actions role
  terraform/aws/github_iam_policy.json
  terraform/aws/iam.md
  terraform/aws/iam.tf
Labels: none

ci: use app-token to get github token for all workflows
  .github/workflows/app-token.yaml
  .github/workflows/broken-links-check.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/terraform-ci.yaml
Labels: ci

fix(ci): remove app-token workflow
  .github/workflows/app-token.yaml
  .github/workflows/broken-links-check.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/terraform-ci.yaml
Labels: ci

fix(ci): pr template for tf PRs
  .github/workflows/terraform-ci.yaml
Labels: ci

refactor: terraform ci/cd
  .github/plan/action.yaml
  .github/workflows/terraform-ci.yaml
  .github/workflows/tf-plan.yaml
  README.md
Labels: ci

ci: add apply action on push to main, fix lock state, fix tfsec warnings
  .github/plan/action.yaml
  .github/workflows/broken-links-check.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tf-cicd.yaml
  .pre-commit-config.yaml
  README.md
  terraform/aws/dynamodb.tf
  terraform/aws/github_iam_policy.json
  terraform/aws/iam.tf
  terraform/aws/outputs.tf
  terraform/aws/providers.tf
  terraform/aws/s3.tf
  terraform/aws/variables.tf
  terraform/github/.terraform.lock.hcl
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/variables.tf
Labels: ci

ci: tflint and tfsec workflow
  .github/workflows/labeler.yaml
  .github/workflows/tf-lint.yaml
Labels: ci

ci: add tfsec error to repo security alerts
  .github/workflows/tf-lint.yaml
  .github/workflows/tflint.yml
  .github/workflows/tfsec.yml
Labels: ci

ci: add lint badge, fix lint error
  README.md
  terraform/cloudflare/providers.tf
  terraform/github/providers.tf
Labels: none

ci: fix tfsec workflow
  .github/workflows/tfsec.yml
Labels: ci

ci: fix workflow file extension
  .github/workflows/tflint.yaml
  .github/workflows/tfsec.yaml
Labels: ci

chore: update README.md
  README.md
Labels: none

ci: fix workflow labeler
  .github/workflows/labeler.yaml
Labels: ci

ci: workflow_dispatch for tflint and tfsec
  .github/workflows/tflint.yaml
  .github/workflows/tfsec.yaml
Labels: ci

ci: workflow_dispatch for tflint and tfsec
  .github/workflows/tflint.yaml
  .github/workflows/tfsec.yaml
Labels: ci

Update iam.tf
  terraform/aws/iam.tf
Labels: none

chore: add tsec config file
  .pre-commit-config.yaml
  .tfsec.yaml
  terraform/aws/iam.tf
Labels: none

chore: add tsec config file
  .pre-commit-config.yaml
Labels: none

chore: add tsec config file
  .github/workflows/tfsec.yaml
Labels: ci

.github/labeler.yaml:

---
aws:
  - "aws/*"
cloudflare:
  - "cloudflare/*"
github:
  - "github/*"
ci:
  - ".github/**/*"
